# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
examesh
test-exa
refine

# Files produced during configure / build
Makefile.bak 
Makefile.in
Makefile
configure
configure~
exa_config.h
config.status
config.log
autom4te.cache
autoscan.log
*.gcda
*.gcno
#cgns file 
*.cgns 
# vtk file
*.vtk
*.vtu 
# vs code files
*.json 
# bash files 
*.sh 
# txt files 
*.txt
# pdf files 
*.pdf 
# python files 
*.py 
# dat files 
*.dat 
# jpg files 
*.jpg
# eps files
*.eps
# Cubic Mesh generator for testing 
*.png
*.plt 
*.lpk
globe_mats_cubic.cxx
globe_mats_cubic
jobGenerator.cxx
postProcessing.cxx
jobGenerator.cxx
